#filtr_reset_btn {
  background-image: url(../../../../../../../../../assets/image/icons/reset.png);
}

#filtr_enter_btn {
  background-size: 16px;
  background-image: url(../../../../../../../../../assets/image/icons/enter.png);
}

#filtr_reset_btn {
  background-image: url(../../../../../../../../../assets/image/icons/reset_hov.png);
}

#filtr_enter_btn {
  background-size: 16px;
  background-image: url(../../../../../../../../../assets/image/icons/enter_hov.png);
}

/* ================================Поле описания===================================== */

textarea{
  width: 100%;
  min-height: 30px;
  max-height: 200px;
  overflow-y: auto;
  resize: vertical;
}

.form__group:hover > h4{
  color: var(--active--color);
}




textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 20, 0.4);
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--main--color);
}


/* ================================ДАТА===================================== */
input[type=date] {
  user-select: none;
  color: var(--main--color);
	&::-webkit-calendar-picker-indicator {
		background-image: url("../../../../../../../../../assets/image/icons/calendar_hov.png");
	}
}

input[type=date]:focus .header_deadline{
  color: var(--active--color);
}


/* ================================Файл===================================== */

input[type=file] {
  display: none;
}

.field_input_file label {
  border: 1px solid var(--main--color);
  background: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 9px 30px 10px 7px;
  border-radius: 20px;
  transition: 0.2s;
  font-size: 16px;
  color: var(--main--color);
  background-image: url(../../../../../../../../../assets/image/icons/upload.png);
  background-position:  right 5px top 5px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}

.field_input_file label:hover, .field_input_file label:focus, .field_input_file label:active {
  background: var(--main--color);
  color: black;
  background-image: url(../../../../../../../../../assets/image/icons/upload_hov.png);
  background-repeat: no-repeat;
  background-position:  right 5px top 5px;
  background-size: 22px 22px;
}

.field_input_file{
  display: flex;
  justify-content: center;
}




h4{
  font-size: 14px;
  transition: 0.2s;
  color: var(--main--color);
}




/* ================================СЕЛЕКТ===================================== */





input[type=radio] {
  color: var(--main--color);
  display: none;
}


label {
	cursor: pointer;
	border-radius: 6px;
  width: 100%;
  height: 100%;
}

/* Hover */
 label:hover {
	color: var(--active--color);
}

* {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.form__group__select{
  position: relative;
}



.header-nav ul {
  width: 100%;
  max-height: 150px;
  z-index: 20;
  position: absolute;
  border-radius: 10px;
  overflow: auto;
  background: linear-gradient(31deg, rgba(0, 0, 0, 0.95) 0%, rgba(21, 21, 21, 0.95) 50%, rgba(0, 0, 0, 0.95) 100%);
}


.header-nav ul::-webkit-scrollbar {
  width: 5px;
}

.header-nav ul::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 20, 0.4);
  border-radius: 10px;
}

.header-nav ul:-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--main--color);
}


.header-nav ul li{
  z-index: 20;
  height: 0;
  font-size: 16px;
  color: var(--main--color);
  background-color: transparent;
  padding: 0 10px;
}

.active ul {
  border: 1px solid var(--main--color);
}

.active ul li{
  height: auto;
  padding: 5px 10px;
}

.form__group__select p{
  border-bottom: 1px solid var(--main--color);
  font-size: 16px;
  color: var(--main--color);
  padding: 9px 0;
  background-color: transparent;
}


.form__group__select p::before{
  content: '';
  position: absolute;
  transition: 0.3s;
  top: 33px;
  right: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid var(--main--color);
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotate(-45deg);
}

.form__group__select .active::before{
  transform: rotate(-225deg);
  top: 42px;
  transition: 0.3s;
}

#task_category_input, #task_status_input, #task_priority_input {
  cursor: pointer;
}
