<div class="task_first_line">
  <p class="task_title">{{ taskItem.title }}</p>
  <button
    class="main_wnd_btn more_btn small_btn"
    id="task_more_btn"
    (click)="testClick()"
  ></button>
</div>

<div class="dropworn_task_menu" [ngClass]="{ collapsed: !isCollapsed }">
  <ul>
    <li class="dropworn_task_item dropworn_task_open">
      <span class="dropworn_task_item_text">Открыть</span>
    </li>
    <li class="dropworn_task_item dropworn_task_change">
      <span class="dropworn_task_item_text" (click)="editTask()" >Изменить</span>
    </li>
    <li class="dropworn_task_item dropworn_task_favorite">
      <span class="dropworn_task_item_text">В избранное</span>
    </li>
    <li class="dropworn_task_item dropworn_task_remind">
      <span class="dropworn_task_item_text">Напомнить</span>
    </li>
    <li class="dropworn_task_item dropworn_task_complete">
      <span class="dropworn_task_item_text">Выполнено</span>
    </li>
    <li class="dropworn_task_item dropworn_task_delete">
      <span class="dropworn_task_item_text" (click)="deleteTask()">Удалить</span>
    </li>
  </ul>
</div>

<p *ngIf="taskItem.imagePath != null && taskItem.imagePath != ''" class="task_image">
  <img src="{{ taskItem.imagePath }}" class="flexable_image" alt="" />
</p>
<div *ngIf="(taskItem.category != null && taskItem.category != '') || (taskItem.priority != null && taskItem.priority != '')" class="information_task">
  <p class="category_task">{{ taskItem.category }}</p>
  <p class="priority_task">{{ taskItem.priority }}</p>
</div>
<p class="audio_task" *ngIf="taskItem.audioPath != null && taskItem.audioPath != ''">
  <audio
    controls
    src="{{taskItem.audioPath}}"
  ></audio>
</p>
<button *ngIf="taskItem.date != null && taskItem.date != ''" class="deadline_btn main_wnd_btn bell_btn">
  <h3>{{ taskItem.date }}</h3>
</button>
