:host{
  padding-bottom: 10px;
  box-sizing: border-box;
  flex-grow: 1;
  width: 80%;;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow: hidden;
  background: linear-gradient(31deg, var(--bg--content--color1) 0%, var(--bg--content--color2) 50%, var(--bg--content--color1) 100%);
  backdrop-filter: blur(1px);
}

.content_header{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

h1 {
  flex-grow: 1;
  height: 90px;
  line-height: 90px;
  text-align: left;
  font-family: Hero-Regular;
  font-size: 30px;
  color: white;
}
