
:host {
  margin-right: 10px;
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  font-family: Hero-Regular;
}

:host:hover {
  background:  rgba(51,51,51,0.8) ;
  transition: 0.2s;
}




.task__wrapper{
  gap: 5px;
  padding: 14px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}



.task__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: -800px;
  width: 40px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateX(-4em) skewX(-45deg);
}



.task__wrapper:hover:before {
  animation: moveLight 1s;
}

       @keyframes moveLight {
from {
  transform: translateX(-150px) skewX(-45deg);
}
to {
  transform: translateX(4000px) skewX(-45deg);
}
}





#task_more_btn{
  z-index: 10;
  position: absolute;
  top: 16px;
  right: 16px;
}


/* ======================== Заголовок ======================== */

.task_title{
  width: 100%;
  font-family: inherit;
  margin-right: 40px;
  font-size: 18px;
  color: var(--avtive--color);
  padding-bottom: 5px;
}

/* ======================== Статус ======================== */

.task_status{
  justify-self: left;
  font-size: 15px;
  width: 100%;
  font-family: Hero-Regular;
  white-space: nowrap; /* Запрет на перенос текста */
}

/* ======================== Картинка ======================== */

.task_image{
  margin-top: 10px;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* ======================== Приоритет======================== */

.priority_task {
  font-size: 14px;
  color: var(--main--color);
  padding-bottom: 10px;
  min-width: 25%;
  flex: 1;
  white-space: nowrap; /* Запрет на перенос текста */
}

/* ======================== Категория ======================== */

.category_task {
  font-size: 14px;
  color: var(--main--color);
  min-width: 25%;
  padding-bottom: 10px;
  flex: 1;
  white-space: nowrap; /* Запрет на перенос текста */
}

/* ======================== Дедлайн ======================== */

.deadpline__task{
  min-width: 25%;
  padding-bottom: 10px;
  flex: 1;
  white-space: nowrap; /* Запрет на перенос текста */
}

.deadline_btn{
  display: block;
  font-size: 14px;
}

/* ======================== Дата ======================== */

.date_task{
  font-size: 14px;
  color: var(--main--color);
  min-width: 25%;
  font-size: 14px;
  padding-bottom: 10px;
  flex: 1;
  white-space: nowrap; /* Запрет на перенос текста */
}

/* ======================== Описание ======================== */

.description__task{
  padding-left: 5px;
  width: 100%;
  padding-right: 5px;
  padding-bottom: 10px;
  font-size: 14px;
}




/* ================================================ Табличный вид ================================================ */

.table--view :host {
  background: transparent;
  transition: 0.2s;
  border-radius: 0;
  margin-left: 10px;
  border-color: transparent;
}

.table--view :host:hover {
  border-bottom: 1px solid var(--main--color);
}

.table--view :host:hover .task_title, .table--view :host:hover .task_status,
.table--view :host:hover .priority_task, .table--view :host:hover .category_task,
.table--view :host:hover .deadpline__task, .table--view :host:hover .table--view.task__wrapper .task_title{
  transition: 0.2s;
  color: var(--avtive--color);
}


.table--view :host #task_more_btn{
  top: 7px;
  right: 9px;
}

.table--view :host .dropworn_task_menu{
  width: auto;
  top: -3px;
  right: 42px;
}

.table--view :host .dropworn_task_menu ul{
  display: flex;
}





.table--view.task__wrapper{
  gap: 13px;
  display: grid;
  padding: 6px;
  padding-right: 40px;
  grid-template-columns: 1fr repeat(3, minmax(140px, 12%)) 100px 100px;
  grid-template-rows: 1fr;
  grid-template-areas: "title status category priority deadline date";
}


.table--view.task__wrapper .task_title{
  width: 100%;
  grid-area: title;
  font-size: 15px;
  padding-bottom: 0;
}

.table--view.task__wrapper .task_status{
  grid-area: status;
}

.table--view.task__wrapper .priority_task{
  grid-area: priority;
}

.table--view.task__wrapper .category_task{
  grid-area: category;
}

.table--view.task__wrapper .deadpline__task{
  grid-area: deadline;

}

.table--view.task__wrapper .date_task{
  grid-area: date;
}

.table--view.task__wrapper .task_status, .table--view.task__wrapper .priority_task, .table--view.task__wrapper .category_task,
.table--view.task__wrapper .deadpline__task, .table--view.task__wrapper .date_task{
  padding: 0;
}














.more_btn{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 30px;
  height: 30px;
}


.bell_btn{
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
}


.bell_btn{
  padding-left: 33px;
  background-position: 10px center;
  background-image: url(../../../../../../../../../assets/image/icons/bell.png);
}

.bell_btn:hover{
  background-image: url(../../../../../../../../../assets/image/icons/bell_hov.png);
}


.more_btn{
  background-image: url(../../../../../../../../../assets/image/icons/more.png);
 }

 .more_btn:hover{
   background-image: url(../../../../../../../../../assets/image/icons/more_hov.png);
 }

 .small_btn:hover{
  z-index: 10;
  box-shadow:  0 0 5px var(--avtive--color--glow_rgba) inset, 0 0 5px var(--avtive--color--glow_rgba) inset, 0 0 0.5em var(--avtive--color--glow_rgba), 0 0 0.1em var(--avtive--color--glow_rgba);
}



/*============================================ Dropwon Menu Task=========================================*/

.dropworn_task_menu{
  transition: 0.2s;
  z-index: 20;
  position: absolute;
  width: 150px;
  overflow: hidden;
  background: linear-gradient(31deg, rgba(0,0,0,0.95) 0%, rgba(21,21,21,0.95) 50%, rgba(0,0,0,0.95) 100%);
  top: 40px;
  right: 0;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.collapsed{
  height: 0;
  width: 0;
  border: 1px solid transparent;
  padding: 0;
}


.dropworn_task_item {
  padding-left: 37px;
  height: 30px;
  background-repeat: no-repeat;
  background-position:  10px center;
  background-size: 20px;
}

.dropworn_task_item_text {
  height: 100%;
  width: 100%;
  display: block;
  line-height: 30px;
}

.dropworn_task_item:hover{
  transition: 0.15s;
  border-radius: 10px;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.4);
  color: var(--avtive--color);
  text-shadow:  0 0 1em var(--avtive--color--glow), 0 0 0.5em var(--avtive--color--glow), 0 0 0.1em var(--avtive--color--glow);
}



.dropworn_task_open {
  background-image: url(../../../../../../../../../assets/image/icons/open.png);
}

.dropworn_task_open:hover {
  background-image: url(../../../../../../../../../assets/image/icons/open_hov.png);
}

.dropworn_task_change {
  background-image: url(../../../../../../../../../assets/image/icons/edit.png);
}

.dropworn_task_change:hover {
  background-image: url(../../../../../../../../../assets/image/icons/edit_hov.png);
}

.dropworn_task_favorite {
  background-image: url(../../../../../../../../../assets/image/icons/favorite.png);
}

.dropworn_task_favorite:hover {
  background-image: url(../../../../../../../../../assets/image/icons/favorite_hov.png);
}

.dropworn_task_remind {
  background-image: url(../../../../../../../../../assets/image/icons/bell.png);
}

.dropworn_task_remind:hover {
  background-image: url(../../../../../../../../../assets/image/icons/bell_hov.png);
}

.dropworn_task_complete {
  background-image: url(../../../../../../../../../assets/image/icons/enter.png);
}

.dropworn_task_complete:hover {
  background-image: url(../../../../../../../../../assets/image/icons/enter_hov.png);
}

.dropworn_task_delete {
  background-image: url(../../../../../../../../../assets/image/icons/del.png);
}

.dropworn_task_delete:hover {
  background-image: url(../../../../../../../../../assets/image/icons/del_hov.png);
}

/*======================================= Конец Dropwon Menu Task=========================================*/
