<button
    class="main_wnd_btn more_btn small_btn"
    id="task_more_btn"
    (click)="moreClick()"
  ></button>

  <div class="dropworn_task_menu" [ngClass]="{ collapsed: !isCollapsed }">
    <ul>
      <li class="dropworn_task_item dropworn_task_open">
        <span class="dropworn_task_item_text">Открыть</span>
      </li>
      <li class="dropworn_task_item dropworn_task_change">
        <span class="dropworn_task_item_text" (click)="editTask()" >Изменить</span>
      </li>
      <li class="dropworn_task_item dropworn_task_favorite">
        <span class="dropworn_task_item_text">В избранное</span>
      </li>
      <li class="dropworn_task_item dropworn_task_remind">
        <span class="dropworn_task_item_text">Напомнить</span>
      </li>
      <li class="dropworn_task_item dropworn_task_complete">
        <span class="dropworn_task_item_text">Выполнено</span>
      </li>
      <li class="dropworn_task_item dropworn_task_delete">
        <span class="dropworn_task_item_text" (click)="deleteTask()">Удалить</span>
      </li>
    </ul>
  </div>

<div class="task__wrapper" [ngClass]="{'table--view': tableView}">



  <div class="task_title">{{ taskItem.title }}</div>

  <div class="task_status">{{ taskItem.status }}</div>

  <div *ngIf="taskItem.imagePath != null && taskItem.imagePath != '' && tableView == false" class="task_image">
    <img src="{{ taskItem.imagePath }}" class="flexable_image" alt="" />
  </div>

  <div class="priority_task" *ngIf="taskItem.priority != null && taskItem.priority != ''">{{ taskItem.priority }}</div>

  <div class="category_task" *ngIf="taskItem.category  != null && taskItem.category != ''">{{ taskItem.category }}</div>

  <div *ngIf="taskItem.deadline != null && taskItem.deadline != ''" class="deadpline__task">
    <button  class="deadline_btn main_wnd_btn bell_btn">
      <h3>{{ taskItem.deadline }}</h3>
    </button>
  </div>

  <div class="date_task" >{{ taskItem.dateCreate }}</div>

  <div class="description__task" *ngIf="taskItem.description != null && taskItem.description != '' && tableView == false">{{ taskItem.description }}</div>

  <div class="audio_task" *ngIf="taskItem.audioPath != null && taskItem.audioPath != ''">
    <audio
      controls
      src="{{taskItem.audioPath}}"
    ></audio>
  </div>
</div>

<!--
<div class="task_first_line">
  <p class="task_title">{{ taskItem.title }}</p>
  <button
    class="main_wnd_btn more_btn small_btn"
    id="task_more_btn"
    (click)="moreClick()"
  ></button>
</div>


<p *ngIf="taskItem.imagePath != null && taskItem.imagePath != ''" class="task_image">
  <img src="{{ taskItem.imagePath }}" class="flexable_image" alt="" />
</p>
<p class="category_task" *ngIf="taskItem.category  != null && taskItem.category != ''">{{ taskItem.category }}</p>
<p class="priority_task" *ngIf="taskItem.priority != null && taskItem.priority != ''">{{ taskItem.priority }}</p>
<p class="audio_task" *ngIf="taskItem.audioPath != null && taskItem.audioPath != ''">
  <audio
    controls
    src="{{taskItem.audioPath}}"
  ></audio>
</p>
<button *ngIf="taskItem.deadline != null && taskItem.deadline != ''" class="deadline_btn main_wnd_btn bell_btn">
  <h3>{{ taskItem.deadline }}</h3>
</button>

<h3>{{ taskItem.dateCreate }}</h3> -->



