.task_conteiner::-webkit-scrollbar {
  /* chrome based */
  width: 0;
}

.task_conteiner {
  display: flex;
  gap: 12px;
  box-sizing: border-box;
  height: calc(100% - 40px);
  flex-direction: column;
  overflow-y: auto;
}

    /*========================================= Стили для скролл-бара ========================================= */

.task_conteiner::-webkit-scrollbar {
  width: 5px;
}

.task_conteiner::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 20, 0.4);
  border-radius: 10px;
}

.task_conteiner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--main--color);
}

.task_header {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.task_list_name {
  vertical-align: middle;
  line-height: 35px;
  flex-grow: 1;
  font-family: Hero-Bold;
  text-transform: uppercase;
  font-size: 12px;
}

.main_content {
  height: 80%;
  box-sizing: border-box;
  padding-bottom: 20px;
}




.more_btn,
#home_btn,
#table_btn,
#list_btn,
.plus_btn {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 30px;
  height: 30px;
}

.more_btn{
  width: 35px;
  height: 35px;
}

.main_wnd_btn:hover {
  transform: none;
  transition: 0.15s;
  border-radius: 15px;
  /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.4); */
  color: var(--avtive--color);
  text-shadow: 0 0 1em var(--avtive--color--glow), 0 0 0.5em var(--avtive--color--glow),
    0 0 0.1em var(--avtive--color--glow);
}

.main_wnd_btn:active {
  transition: 0.1s;
  transform: scale(0.98);
}

.deadline_btn {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 16px;
}

#filtr_btn,
#search_btn,
#filtr_enter_btn,
#filtr_reset_btn,
.bell_btn {
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.plus_btn {
  background-image: url(../../../../../../../../../assets/image/icons/plus.png);
}

.plus_btn:hover {
  background-image: url(../../../../../../../../../assets/image/icons/plus_hov.png);
}

.bell_btn {
  padding-left: 33px;
  background-position: 10px center;
  background-image: url(../../../../../../../../../assets/image/icons/bell.png);
}

.bell_btn:hover {
  background-image: url(../../../../../../../../../assets/image/icons/bell_hov.png);
}

.more_btn {
  background-image: url(../../../../../../../../../assets/image/icons/more.png);
}

.more_btn:hover {
  background-image: url(../../../../../../../../../assets/image/icons/more_hov.png);
}





/* ========================Выпадающий список и выдвижные кнопки======================= */

* {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.header-nav {
  position: relative;
  float: left;
  margin: 0 auto;
  z-index: 10;
}

.header-nav ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
}

.conteiner_for_bnt{
  right: 0;
}

.line_btn{
  display: flex;
  justify-content: right;
}

.header-nav > ul {
  position: relative;
}

/* сокрытие элементов списка*/
  .header-nav > ul > li > .header-nav-link + ul li {
  opacity: 0;
  height: 0;
  margin-top: -48px;
}

.header-nav > ul > li:hover .header-nav-link + ul > li {
  opacity: 1;
  height: auto;
  margin-top: 0;
}

.header-nav > ul > li > .header-nav-top-link + ul {
  padding-top: 40px;    /* отступ сверху для выпадающих элементов*/
}


.slide_bnt {
  transition: 0.2s;
  position: relative;
  padding-right: 10px;
  background-size: 23px;
  overflow: hidden;
  right: 0px;
  background-image: none;
  margin-bottom: 4px;
  box-shadow: 0px 5px 100px 98px rgba(21, 21, 21, 0.95) inset;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.slide_bnt h3 {
  margin-left: 60px;
  position: absolute;
  top: 8px;
  transition: 0.2s;
  border-radius: 0;
  white-space: nowrap;
}

.slide--bnt--icon{
  background-image: none;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.slide_bnt:hover{
  border-color: var(--avtive--color);
  background-image: none;
  transform: none;
  z-index: 10;
  transition: 0.2s;
  box-shadow: 0px 5px 100px 98px rgba(21, 21, 21, 0.95) inset,
           0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding-right: 15px;
}

.slide_bnt:hover h3 {
  transition: 0.2s;
  width: auto;
  margin-left: 25px;
}

/*============================================ Новый пользователь ============================================*/

.slide_bnt:hover#add--user--btn{
  width: 150px;
}

#image_bg_add_user{
  background-image: url(../../../../../../../../../assets/image/icons/add-user.png);
}

.slide_bnt:hover > #image_bg_add_user{
  background-image: url(../../../../../../../../../assets/image/icons/add-user_hov.png);
}


/*============================================ Удалить пользователя ============================================*/

.slide_bnt:hover#del--user--btn{
  width: 160px;
}

#image_bg_del_user{
  background-image: url(../../../../../../../../../assets/image/icons/remove-user.png);
}

.slide_bnt:hover > #image_bg_del_user{
  background-image: url(../../../../../../../../../assets/image/icons/remove-user_hov.png);
}


/*============================================ Добавить задачу ============================================*/

.slide_bnt:hover#add--task--btn{
  width: 90px;
}

#image_bg_add_task{
  background-image: url(../../../../../../../../../assets/image/icons/add-post.png);
}

.slide_bnt:hover > #image_bg_add_task{
  background-image: url(../../../../../../../../../assets/image/icons/add-post_hov.png);
}


/*============================================ Изменить название списка ============================================*/

.slide_bnt:hover#edit--list--btn{
  width: 105px;
}

#image_bg_edit{
  background-image: url(../../../../../../../../../assets/image/icons/edit.png);
}

.slide_bnt:hover > #image_bg_edit{
  background-image: url(../../../../../../../../../assets/image/icons/edit_hov.png);
}


/*============================================ Удалить список ============================================*/

.slide_bnt:hover#del--list--btn{
  width: 95px;
}

#image_bg_del{
  background-image: url(../../../../../../../../../assets/image/icons/del.png);
}

.slide_bnt:hover > #image_bg_del{
  background-image: url(../../../../../../../../../assets/image/icons/del_hov.png);
}



/* ========================Выпадающий список и выдвижные кнопки======================= */









/* ========================Стили для табличного отображения======================= */

.task__item{
  position: relative;
  font-size: 18px;
}

.task__text {
  width: 100%;
  font-size: 18px;
}


.bg__image{
  position: absolute;
  top: 0;
  left: -25px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.status__bg{
  background-image: url(../../../../../../../../../assets/image/icons/status.png);
}


.priority__bg{
  background-image: url(../../../../../../../../../assets/image/icons/priority.png);
}

.category__bg{
  background-image: url(../../../../../../../../../assets/image/icons/category.png);
}

.deadline_bg
{
  background-image: url(../../../../../../../../../assets/image/icons/deadline.png);
}

.date_bg
{
  background-image: url(../../../../../../../../../assets/image/icons/date.png);
}







.title__table{
  gap: 13px;
  display: grid;
  padding: 14px;
  padding-right: 55px;
  grid-template-columns: minmax(150px, 1fr) repeat(3, minmax(140px, 12%)) 120px 120px;
  grid-template-rows: 1fr;
  grid-template-areas: "title status category priority deadline date";
}



.table--view.task_conteiner{
  overflow-y: hidden;
  gap: 2px;
  height: calc(100% - 30px);      /*тонкая настройка! не трогать! */
}


.table--view.task_header{
  padding: 0;
}

.table--view .task_list_name{
  font-size: 16px;
}


/* Контейнер для выпадающих кнопок */

.table--view .conteiner_for_bnt{
  margin-right: 5px;
  display: flex;
  gap: 5px;
  padding-top: 0 !important;
}


.table--view .header-nav > ul > li > .header-nav-link + ul li {
  opacity: 1;
  margin-top: 0;
}

.table--view .header-nav {
  bottom: 4px;
}

.table--view  #taskList--more--btn{
  display: none;
}

.table--view .slide--bnt--icon{
  width: 18px;
  height: 18px;
  padding-left: 4px;
}

.table--view .slide_bnt{
  height: 0;
  padding: 0;
  border: none;
  width: 30px;
  top: 6px;
  padding-left: 3px;
}

:host:hover .table--view  .slide_bnt{
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.table--view .slide_bnt h3{
  top: 6px;
}
