.wrapper {
  width: 100%;
  height: 100vh;
  color: var(--menu_button);
  font-size: 13px;
  font-family: Hero-Regular;
  background-image: url(../assets/image/bg7.jpg);
  background-size: cover;
}


