#filtr_reset_btn {
  background-image: url(../../../../../assets/image/reset.png);
}

#filtr_enter_btn {
  background-size: 16px;
  background-image: url(../../../../../assets/image/enter.png);
}

#filtr_reset_btn:hover {
  background-image: url(../../../../../assets/image/reset_hov.png);
}

#filtr_enter_btn:hover {
  background-size: 16px;
  background-image: url(../../../../../assets/image/enter_hov.png);
}
