<form class="modal_wnd_form" [formGroup]="loginForm">
  <h2 mat-dialog-title>{{ title }}</h2>

  <div class="form__group field">
    <input
      formControlName="title"
      id="title"
      type="text"
      class="form__field"
      placeholder="Название"
      name="title"
      autocomplete="off"
    />
    <label for="title" class="form__label">Название</label>
  </div>

  <div class="form__group field">
    <textarea
      formControlName="description"
      id="description"
      type="text"
      class="form__field"
      placeholder="Описание"
      name="description"
      autocomplete="off"
    ></textarea>
    <label for="description" class="form__label">Описание</label>
  </div>

  <div class="form__group field">
    <h4 class="header_date">Дата</h4>
    <input
      formControlName="date"
      id="date"
      type="date"
      class="form__field"
      placeholder="Дата"
      name="date"
      autocomplete="off"
    />
  </div>

  <div class="form__group field form__group__select">
    <h4 >Категория</h4>
    <p id="task_category_input" [ngClass]="{'active' : active[0]}" (click)="active[0] = !active[0]; active[1] = false; active[2] = false;">Не выбрано</p>
    <div class="header-nav" [ngClass]="{'active' : active[0]}" >
      <ul>
        <li class="line_btn">
            <label for="radio1" > Работа</label>
            <input id="radio1" formControlName="category"  name="category" value="Работа" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
           <label for="radio2" > Учеба</label>
           <input id="radio2"  formControlName="category" name="category" value="Учеба" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
          <label for="radio4" > Семья</label>
          <input id="radio4"  formControlName="category" name="category" value="Семья" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
          <label for="radio5"  > Хобби</label>
          <input id="radio5"  formControlName="category" name="category" value="Хобби" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
          <label for="radio6"  > Личное</label>
          <input id="radio6"  formControlName="category" name="category" value="Личное" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
          <label for="radio7"  > Досуг</label>
          <input id="radio7"  formControlName="category" name="category" value="Досуг" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
          <label for="radio8" > Другое</label>
          <input id="radio8"  formControlName="category" name="category" value="Другое" (change)=" handleRadioLabelClick($event)" type="radio"/>
         </li>

      </ul>
    </div>
  </div>


  <div class="form__group field form__group__select">
    <h4 >Статус</h4>
    <p id="task_status_input" [ngClass]="{'active' : active[1]}" (click)="active[1] = !active[1]; active[0] = false; active[2] = false;">Не выбрано</p>
    <div class="header-nav" [ngClass]="{'active' : active[1]}" >
      <ul>
        <li class="line_btn">
            <label for="radio9" > Сделать</label>
            <input id="radio9" formControlName="status"  name="status" value="Сделать" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
           <label for="radio10" > Выполняется</label>
           <input id="radio10"  formControlName="status" name="status" value="Выполняется" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
          <label for="radio11" > Выполнено</label>
          <input id="radio11"  formControlName="status" name="status" value="Выполнено" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

      </ul>
    </div>
  </div>


  <div class="form__group field form__group__select">
    <h4 >Приоритет</h4>
    <p id="task_priority_input" [ngClass]="{'active' : active[2]}" (click)="active[2] = !active[2]; active[1] = false; active[0] = false;">Не выбрано</p>
    <div class="header-nav" [ngClass]="{'active' : active[2]}" >
      <ul>
        <li class="line_btn">
            <label for="radio12" > Несрочно</label>
            <input id="radio12" formControlName="priority"  name="priority" value="Несрочно" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
           <label for="radio13" > Не затягивать</label>
           <input id="radio13"  formControlName="priority" name="priority" value="Не затягивать" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
          <label for="radio14" > Поторопиться</label>
          <input id="radio14"  formControlName="priority" name="priority" value="Поторопиться" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

        <li class="line_btn">
          <label for="radio15" > Срочно</label>
          <input id="radio15"  formControlName="priority" name="priority" value="Срочно" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

      </ul>
    </div>
  </div>

  <div class="form__group field field_input_file">
    <label for="image">Изображение </label>
    <input
      id="image"
      type="file"
      accept="image/*,image/jpeg"
      (change)="OnFileSelected($event)"
    />
  </div>

  <div class="form__group field field_input_file">
    <label for="audio">Аудио </label>
    <input
      id="audio"
      type="file"
      accept="audio/*"
      (change)="OnFileSelected($event)"
    />
  </div>

  <div class="button_section" mat-dialog-action>
    <button
      class="main_wnd_btn"
      mat-raised-button
      (click)="onNoClick()"
      id="filtr_reset_btn"
    >
      <h3>Отмена</h3>
    </button>
    <button class="main_wnd_btn" id="filtr_enter_btn" (click)="save()">
      <h3>Применить</h3>
    </button>
  </div>
</form>
