<form class="modal_wnd_form" [formGroup]="loginForm">
  <h2 mat-dialog-title>{{ title }}</h2>

  <div class="form__group field">
    <input
      formControlName="title"
      id="title"
      type="text"
      class="form__field"
      placeholder="Название"
      name="title"
      autocomplete="off"
    />
    <label for="title" class="form__label">Название</label>
  </div>

  <div class="form__group field">
    <textarea
      formControlName="description"
      id="description"
      type="text"
      class="form__field"
      placeholder="Описание"
      name="description"
      autocomplete="off"
    ></textarea>
    <label for="description" class="form__label">Описание</label>
  </div>

  <div class="form__group field">
    <h4 class="header_date">Дата</h4>
    <input
      formControlName="date"
      id="date"
      type="date"
      class="form__field"
      placeholder="Дата"
      name="date"
      autocomplete="off"
    />
  </div>

  <div class="form__group field form__group__select">
    <h4 >Категория</h4>
    <p id="task_category_input" [ngClass]="{'active' : active[0]}" (click)="active[0] = !active[0]; active[1] = false; active[2] = false;">Не выбрано</p>
    <div class="header-nav" [ngClass]="{'active' : active[0]}" >

      <ul >
        <li class="line_btn" *ngFor="let item of taskCategory">
            <label for="{{item.title}}" > {{item.title}}</label>
            <input id="{{item.title}}" formControlName="category"  name="category" value="{{item.title}}" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>
      </ul>

    </div>
  </div>


  <div class="form__group field form__group__select">
    <h4 >Статус</h4>
    <p id="task_status_input" [ngClass]="{'active' : active[1]}" (click)="active[1] = !active[1]; active[0] = false; active[2] = false;">Не выбрано</p>
    <div class="header-nav" [ngClass]="{'active' : active[1]}" >
      <ul>
        <li class="line_btn" *ngFor="let item of taskStatus">
            <label for="{{item.title}}" > {{item.title}}</label>
            <input id="{{item.title}}" formControlName="status"  name="status" value="{{item.title}}" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>


      </ul>
    </div>
  </div>


  <div class="form__group field form__group__select">
    <h4 >Приоритет</h4>
    <p id="task_priority_input" [ngClass]="{'active' : active[2]}" (click)="active[2] = !active[2]; active[1] = false; active[0] = false;">Не выбрано</p>
    <div class="header-nav" [ngClass]="{'active' : active[2]}" >
      <ul>

        <li class="line_btn" *ngFor="let item of taskPriority; let i = index">
            <label for="{{item.title}}" > {{item.title}}</label>
            <input id="{{item.title}}" formControlName="priority"  name="priority" value="{{item.title}}" (change)=" handleRadioLabelClick($event)" type="radio"/>
        </li>

      </ul>
    </div>
  </div>

  <div class="form__group field field_input_file">
    <label for="image">Изображение </label>
    <input
      id="image"
      type="file"
      accept="image/*,image/jpeg"
      (change)="OnFileSelected($event)"
    />
  </div>

  <div class="form__group field field_input_file">
    <label for="audio">Аудио </label>
    <input
      id="audio"
      type="file"
      accept="audio/*"
      (change)="OnFileSelected($event)"
    />
  </div>

  <div class="button_section" mat-dialog-action>
    <button
      class="main_wnd_btn"
      mat-raised-button
      (click)="onNoClick()"
      id="filtr_reset_btn"
    >
      <h3>Отмена</h3>
    </button>
    <button class="main_wnd_btn" id="filtr_enter_btn" (click)="save()">
      <h3>Применить</h3>
    </button>
  </div>
</form>
