<div class="header_content_section">
  <div class="content_header">
    <h1>Список Задач</h1>
    <button class="main_wnd_btn" id="filtr_btn" (click)="FilterBtnClick()">
      <h3>Фильтры</h3>
    </button>
    <button class="main_wnd_btn more_btn small_btn" id="none" ></button>
  </div>

  <div class="content_filtres" [ngClass]="{ collapsed: !isCollapsed }">
    <p class="filtr_title">Приоритет</p>
    <div class="filtr_element_row">

      <div *ngFor="let item of taskPriority; let i = index">
        <label class="filtr_checkbox">
          <input type="checkbox" name="task_priority_check"  [id]="getUniqueID('priority', i)" (change)="ChangePriorotyes($event)"/>
          <span> {{item.title}} </span>
        </label>
      </div>

    </div>

    <p class="filtr_title">Категория</p>
    <div class="filtr_element_row">


      <div *ngFor="let item of taskCategory; let i = index">
        <label class="filtr_checkbox">
          <input type="checkbox" name="task_category_check" [id]="getUniqueID('category', i)" (change)="ChangeCategoryes($event)"/>
          <span> {{item.title}} </span>
        </label>
      </div>

    </div>
    <div class="button_section">
      <button class="main_wnd_btn" id="filtr_reset_btn" (click)="UncheckAll()">
        <h3>Сброс</h3>
      </button>
      <button class="main_wnd_btn" id="filtr_enter_btn"  (click)="enterFilter()">
        <h3>Применить</h3>
      </button>
    </div>
  </div>

  <div class="content_view">
    <div class="view">
      <p>Вид:</p>
      <button class="main_wnd_btn small_btn" id="table_btn" [ngClass]="{'view__active' : tableView}" (click)="tableView = true"></button>
      <button class="main_wnd_btn small_btn" id="list_btn" [ngClass]="{'view__active' : !tableView}" (click)="tableView = false"></button>
    </div>

    <div class="group_by">
      <p>Сортировать по:</p>
      <p id="task_sort_input" [ngClass]="{'active' : activeSort}" (click)="sortClick()">Не выбрано</p>
      <div class="header-nav" [ngClass]="{'active' : activeSort}" >

        <ul >
          <li class="line_btn" (click)="sortCustom($event)">
            Свой порядок
          </li>
          <li class="line_btn" (click)="sortByTitle($event)">
            Название
          </li>
          <li class="line_btn" (click)="sortByDate($event)">
            Дата
          </li>
          <li class="line_btn" (click)="sortByCategory($event)">
            Категория
          </li>
          <li class="line_btn" (click)="sortByPriority($event)">
            Приоритет
          </li>
          <li class="line_btn" (click)="sortByDeadline($event)">
            Крайний срок
          </li>
          <li class="line_btn" (click)="sortByStatus($event)">
            Статус
          </li>
        </ul>
        </div>
      </div>

    <button class="main_wnd_btn" id="new_group_btn" (click)="AddNewList()">
      <h3>Добавить группу</h3>
    </button>

    <button class="main_wnd_btn" id="new_group_btn" (click)="AddNewTaskItem()">
      <h3>Добавить задачу</h3>
    </button>


    <div class="search_block">

      <div class="form__group__main__input field">
        <input
          #searchTask
          id="searchTask"
          type="text"
          class="form--field"
          placeholder="Название задачи... search_area"
          name="searchChat"
          autocomplete="off"
          [(ngModel)]="search"
        />
        <label for="title" class="form__label">Название задачи...</label>
      </div>
      <button class="main_wnd_btn" id="search_reset" (click)="search=''"></button>
    </div>
  </div>
</div>

<div class="main_content_section">
  <div class="task_group_container"  [ngClass]="{'table--view' : tableView}">
    <app-task-list
      (update)="Update()"
      [taskList]="group"
      [search]="search"
      [sortBy]="sortBy"
      [tableView]="tableView"
      [priorotiesSearch]="priorotiesSearch"
      [categoryesSearch]="categoryesSearch"
      [enterFilterFlag]="enterFilterFlag"
      *ngFor="let group of taskLists"
      class="task_list"
    ></app-task-list>
  </div>
</div>
