:host{
  padding-bottom: 10px;
  box-sizing: border-box;
  flex-grow: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow: hidden;
  background: linear-gradient(31deg, rgba(0,0,0,0.8) 0%, rgba(22,21,21,0.8) 50%, rgba(0,0,0,0.8) 100%);
  backdrop-filter: blur(1px);
}

.content_header{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.first_section {
  height: 20%;
}

h1 {
   flex-grow: 1;
  height: 90px;
  line-height: 90px;
  text-align: left;
  font-family: Hero-Regular;
  font-size: 30px;
  color: var(--avtive--color);
}







/*============================================ Dropwon Menu GroupBy=========================================*/
.view p {
  margin-right: 5px;
}

.view, .group_by {
  gap: 5px;
  display: flex;
  align-items: center;
}

.dropworn_task_item_text{
  display: inline-block;
}

.group_by {
  margin-left: 30px;
  position: relative;
}

.dropworn_group_by_menu{
  position: absolute;
  z-index: -2;
  width: 73px;
  background: linear-gradient(31deg, rgba(0,0,0,0.95) 0%, rgba(21,21,21,0.95) 50%, rgba(0,0,0,0.95) 100%);
  top: 30px;
  right: -18px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.group_by.active > #group_by_btn + .dropworn_group_by_menu {
  opacity: 1;
  z-index: 3;
  transform: translateY(0);
}


.dropworn_group_by_item {
  height: 30px;
  cursor: pointer;
}


.dropworn_group_by_item:hover{
  transition: 0.15s;
  border-radius: 10px;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.4);
  color: var(--avtive--color);
  text-shadow:  0 0 1em var(--avtive--color--glow), 0 0 0.5em var(--avtive--color--glow), 0 0 0.1em var(--avtive--color--glow);
}

/*======================================= Конец Dropwon Menu GroupBy=========================================*/


.view__active{
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  border: 1px solid #8d8d8d;
}


#search_reset {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  position: absolute;
  padding: 15px;
  border-radius: 25px;
  background-image: url(../../../../../../../assets/image/icons/cancel.png);
}

#search_reset:hover {
   background-image: url(../../../../../../../assets/image/icons/cancel_hov.png);
}


#filtr_btn{
  width: 130px;
  background-image: url(../../../../../../../assets/image/icons/filter.png);
}

#filtr_btn:hover{
  background-image: url(../../../../../../../assets/image/icons/filter_hov.png);
}

.more_btn{
 background-image: url(../../../../../../../assets/image/icons/more.png);
}

.more_btn:hover{
  background-image: url(../../../../../../../assets/image/icons/more_hov.png);
}

#table_btn{
  background-image: url(../../../../../../../assets/image/icons/table.png);
}

#table_btn:hover{
  background-image: url(../../../../../../../assets/image/icons/table_hov.png);
}


#list_btn{
  background-image: url(../../../../../../../assets/image/icons/grid.png);
}

#list_btn:hover{
  background-image: url(../../../../../../../assets/image/icons/grid_hov.png);
}





.content_view {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_block{
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.search_area{
  max-width: 350px;
  min-width: 100px;
  width: 100%;
  margin-right: 100px;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  color: var(--main--color);;
}

.search_area:hover {
  border-bottom: 1px solid #ccc;
}

.search_area:focus {
  border-bottom: 1px solid transparent;
  outline: none;
  border: none;
}


.content_filtres{
  height: 150px;
  transition: 0.3s;
  overflow: hidden;
}

.collapsed{
  height: 0px;
  transition: 0.3s;
}

.filtr_element_row {
  display: flex;
  margin: 10px 0;
}

#filtr_btn, #filtr_enter_btn, #filtr_reset_btn, .bell_btn, #new_group_btn {
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 35px;
}


.more_btn, #home_btn, #table_btn, #list_btn, .plus_btn {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 30px;
  height: 30px;
}


.button_section {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

#filtr_reset_btn {
  background-image: url(../../../../../../../assets/image/icons/reset.png);
}

#filtr_enter_btn {
  background-size: 16px;
  background-image: url(../../../../../../../assets/image/icons/enter.png);
}

#filtr_reset_btn {
  background-image: url(../../../../../../../assets/image/icons/reset_hov.png);
}

#filtr_enter_btn {
  background-size: 16px;
  background-image: url(../../../../../../../assets/image/icons/enter_hov.png);
}



.task_group_container::-webkit-scrollbar { /* chrome based */
  height: 5px;
  width: 5px;
}

.task_group_container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 20, 0.4);
  border-radius: 10px;
}

.task_group_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background:  var(--main--color);
}

.task_group_container{
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  height: 96%;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-y: scroll;   /*горизонтальный скролл*/
  overflow-x: scroll;   /*горизонтальный скролл*/
}





.task_list {
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-width: 220px;
}

.task_header {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}


.task_name{
  vertical-align: middle;
  line-height: 25px;
  flex-grow: 1;
  font-family: Hero-Bold;
  text-transform: uppercase;
  font-size: 12px;
}


#new_group_btn{
  margin-left: 20px;
  padding-left: 40px;
  padding-right: 20px;
  background-image: url(../../../../../../../assets/image/icons/plus.png);
}

#new_group_btn:hover{
  background-image: url(../../../../../../../assets/image/icons/plus_hov.png);
}



.task_group_container::-webkit-scrollbar { /* chrome based */
  height: 5px;
}

.task_group_container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 20, 0.4);
  border-radius: 10px;
}

.task_group_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background:  var(--main--color);
}

.task_group_container{
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  height: 96%;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-y: hidden;   /*горизонтальный скролл*/
  overflow-x: hidden;
}

.main_content_section{
  flex-grow: 1;
  overflow: hidden;
}


.task_list {
  align-items: center;
  width: 100%;
  max-width: 600px;
  min-width: 220px;
}



#none{
  background-image: none;
}


/* ===================================ЧЕКБОКСЫ===================================== */
.filtr_checkbox {
  cursor: pointer;
}

input[type='checkbox'] {
  display: none;
 }

input~span{
  text-decoration: line-through;
  color: var(--main--color);
  transition: 0.2s;
  padding: 5px;
}

input:hover~span{
  text-decoration: none;
  color: var(--avtive--color);
  transition: 0.2s;
  text-shadow:  0 0 10px var(--avtive--color--glow), 0 0 0.5em var(--avtive--color--glow), 0 0 0.1em var(--avtive--color--glow);
  padding: 5px;
}

input:checked~span {
  color: var(--avtive--color);
  text-shadow:  0 0 10px var(--avtive--color--glow), 0 0 0.5em var(--avtive--color--glow), 0 0 0.1em var(--avtive--color--glow);
  transition: 0.2s;
  text-decoration: none;
}


/* ===================================Выпадающий список сортировки===================================== */


#task_sort_input{
  padding-top: 1px;
  min-width: 120px;
  padding-left: 10px;
  transition: 0.2s;
  cursor: pointer;
}

#task_sort_input:hover{
  color: var(--avtive--color);
  transition: 0.2s;
  text-shadow:  0 0 10px var(--avtive--color--glow), 0 0 0.5em var(--avtive--color--glow), 0 0 0.1em var(--avtive--color--glow);
}

.header-nav{
  position: absolute;
  top: 25px;
  right: 2px;
  padding: 0 20px;
  border-radius: 10px;
  z-index: 20;
  height: auto;
  position: absolute;
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
  background: linear-gradient(31deg, rgba(0, 0, 0, 0.95) 0%, rgba(21, 21, 21, 0.95) 50%, rgba(0, 0, 0, 0.95) 100%);
}


.header-nav li{
  height: 0;
  cursor: pointer;
  transition: 0.2s;
}

.header-nav li:hover{
  color: var(--avtive--color);
  transition: 0.2s;
}

.header-nav.active{
  border: 1px solid var(--main--color);
}

.active ul li{
  height: 25px;
  line-height: 25px;
  transition: 0.3s;
}








/* ==========================================Поле ввода для поиска============================================= */

.form__group__main__input {
  position: relative;
  padding: 10px 0 10px;
}

.form--field {
  box-sizing: border-box;
  font-family: inherit;
  width: 300px;
  border: 0;
  outline: 0;
  margin-right: 40px;
  font-size: 16px;
  color: var(--main--color);
  padding: 9px 0;
  padding-left: 30px;
  background-color: transparent;
  background-image: url(../../../../../../../assets/image/icons/search.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  transition: background-color 0s 600000s, color 0s 600000s, background-position  0.2s, border-color 0.2s, padding-left 0.2s ;
  padding-right: 40px;
}

.form--field::placeholder {
  color: transparent;
}

.form--field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
  padding-left: 30px;
}

.form__label {
  position: absolute;
  font-size: 14px;
  top: 0;
  display: block;
  transition: 0.2s;
  pointer-events: none;
}

.form--field:focus {     /*Подчеркинвание активного поля ввода*/
  padding-bottom: 8px;
  padding-left: 10px;
  border-width: 2px;
  border-image-slice: 1;
  transition: background-color 0s 600000s, color 0s 600000s !important;
  background-image: url(../../../../../../../assets/image/icons/search_hov.png);
  background-position: right center;
  transition: background-position  0.3s !important;
}

.form--field:focus ~ .form__label {   /*Заголвоок активного поля ввода*/
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: var(--avtive--color);
  text-shadow:  0 0 1em var(--avtive--color--glow), 0 0 0.5em var(--avtive--color--glow), 0 0 0.1em var(--avtive--color--glow);
}



.form--field:hover ~ .form__label {   /*Заголвоок активного поля ввода*/
  color: var(--avtive--color);
  text-shadow:  0 0 1em var(--avtive--color--glow), 0 0 0.5em var(--avtive--color--glow), 0 0 0.1em var(--avtive--color--glow);
}

/* reset input */
.form--field:required, .form--field:invalid {
  box-shadow: none;
}









/* ===================================Стили для табличной формы===================================== */


.task_group_container.table--view{
  display: flex;
  height: 96%;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;   /*горизонтальный скролл*/
  overflow-x: hidden;   /*горизонтальный скролл*/
}


.task_group_container .task_list{
  max-width: 100%;
  width: 100%;
}
