<div class="header_content_section">
  <div class="content_header">
    <h1>Список Задач</h1>
    <button class="main_wnd_btn" id="filtr_btn" (click)="FilterBtnClick()">
      <h3>Фильтры</h3>
    </button>
    <button class="main_wnd_btn more_btn small_btn" id="none" ></button>
  </div>

  <div class="content_filtres" [ngClass]="{ collapsed: !isCollapsed }">
    <p class="filtr_title">Приоритет</p>
    <div class="filtr_element_row">

      <div *ngFor="let item of taskPriority; let i = index">
        <label class="filtr_checkbox">
          <input type="checkbox" name="task_priority_check"  [id]="getUniqueID('priority', i)" (change)="ChangePriorotyes($event)"/>
          <span> {{item.title}} </span>
        </label>
      </div>

    </div>

    <p class="filtr_title">Категория</p>
    <div class="filtr_element_row">


      <div *ngFor="let item of taskCategory; let i = index">
        <label class="filtr_checkbox">
          <input type="checkbox" name="task_category_check" [id]="getUniqueID('category', i)" (change)="ChangeCategoryes($event)"/>
          <span> {{item.title}} </span>
        </label>
      </div>

    </div>
    <div class="button_section">
      <button class="main_wnd_btn" id="filtr_reset_btn" (click)="UncheckAll()">
        <h3>Сброс</h3>
      </button>
      <button class="main_wnd_btn" id="filtr_enter_btn"  (click)="enterFilter()">
        <h3>Применить</h3>
      </button>
    </div>
  </div>

  <div class="content_view">
    <div class="view">
      <p>Вид:</p>
      <button class="main_wnd_btn small_btn" id="home_btn"></button>
      <button class="main_wnd_btn small_btn" id="table_btn"></button>
      <button class="main_wnd_btn small_btn" id="list_btn"></button>
    </div>

    <div class="group_by">
      <p>Сортировать по:</p>
      <button class="main_wnd_btn" id="group_by_btn" (click)="test()">
        <span>Кнопка</span>
      </button>
      <div class="dropworn_group_by_menu">
        <ul>
          <li class="dropworn_group_by_item">
            <span class="dropworn_task_item_text">Приоритет</span>
          </li>
          <li class="dropworn_group_by_item">
            <span class="dropworn_task_item_text">Статус</span>
          </li>
          <li class="dropworn_group_by_item">
            <span class="dropworn_task_item_text">Категория</span>
          </li>
        </ul>
      </div>
    </div>

    <button class="main_wnd_btn" id="new_group_btn" (click)="AddNewList()">
      <h3>Добавить группу</h3>
    </button>

    <button class="main_wnd_btn" id="new_group_btn" (click)="AddNewTaskItem()">
      <h3>Добавить задачу</h3>
    </button>


    <div class="search_block">
      <input type="text" placeholder="Поиск..." class="search_area"  [(ngModel)]="search" />
      <button class="main_wnd_btn" id="search_btn"><h3>Поиск</h3></button>
    </div>
  </div>
</div>

<div class="main_content_section">
  <div class="task_group_container">
    <app-task-list
      (update)="Update()"
      [taskList]="group"
      [search]="search"
      [priorotiesSearch]="priorotiesSearch"
      [categoryesSearch]="categoryesSearch"
      [enterFilterFlag]="enterFilterFlag"
      *ngFor="let group of taskLists"
      class="task_list"
    ></app-task-list>
  </div>
</div>
